/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

body > .container {
  padding: 110px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

/* Server Viewer */
.server-viewer>ul,
  .server-viewer>ul ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .server-viewer>ul ul {
    margin-left: 1.0em;
  }

  .server-viewer>ul li {
      margin-left: 0.35em;
      border-left: thin solid #000;
  }
  .server-viewer>ul li:last-child {
    border-left: none;
  }

  .server-viewer>ul li:before {
    width: 0.9em;
    height: 0.6em;
    margin-right: 0.1em;
    vertical-align: top;
    border-bottom: thin solid #000;
    content: "";
    display: inline-block;
  }

  .server-viewer>ul li:last-child:before {
    border-left: thin solid #000;
  }


  .server-viewer>ul li.server:before {
    border-width: 0px !important;
  }
